.Contact-image{
	width: 100%;
	height: 100%;
	
}
.col-contact-image{
	padding-right: 0px;
    padding-left: 0px;
}


.contact100-form-title {
  width: 100%;
  display: block;
  font-family: Poppins-Regular;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 48px;
  padding-top: 50px;
}
.contact100-number{
	 width: 100%;
  display: block;
  font-family: Poppins-Regular;
  font-size: 20px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-top: 25px;
}
.contact100-email{
	 width: 100%;
  display: block;
  font-family: Poppins-Regular;
  font-size: 20px;
  color: grey;
  line-height: 1.2;
  text-align: center;
  padding-top: 25px;
}
.social-footer{
	    padding: 14px;
}

#social #container {
  text-align: center;

}

#social #container ul {
    font-size: 1.2em;
    padding-left: 58px;
        padding-bottom: 14px;
}

#social #container ul li {
  float: left;
padding-left: 42px;
    padding-right: 42px;
      list-style-type: none;

}
.footer-heading{
	 padding-bottom: 48px;
  padding-top: 50px;
	font-size: 2em;
	color: black;

}